<!DOCTYPE html>
<html lang="en">
  	<head>
	    {% load staticfiles %}
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="robots" content="all,follow">
	    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/fontastic.css' %}">
	    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	    <link rel="stylesheet" href="{% static 'vendor/@fancyapps/fancybox/jquery.fancybox.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
	    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
	    <link rel="shortcut icon" href="https://img.icons8.com/wired/64/000000/bookmark.png" type="image/x-icon"/>
	    <link href='{% static "styles/github.css" %}' rel="stylesheet">
	    <link rel="shortcut icon" href="https://img.icons8.com/wired/64/000000/bookmark.png" type="image/x-icon"/>
	    <title>Sign In</title>
	    {% load staticfiles %}
		{% load i18n %}
	    {% load crispy_forms_tags %}
	    {% load account socialaccount %}

	    <style>
	      .bd-placeholder-img {
	        font-size: 1.125rem;
	        text-anchor: middle;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        -ms-user-select: none;
	        user-select: none;
	      }

	      @media (min-width: 768px) {
	        .bd-placeholder-img-lg {
	          font-size: 3.5rem;
	        }
	      }
	    </style>
	    <!-- Custom styles for this template -->
	    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
	</head>
	
	<body class="text-center">
		<form class="form-signin" id="signup_form" method="post" action="{% url 'account_signup' %}">
			<img class="mb-4" src="https://img.icons8.com/wired/64/000000/bookmark.png" alt="" width="72" height="72">
			<h1 class="h1 mb-3 font-weight-normal">Registration</h1>
			<div>
		        <ul class="footer-social">
		          <li><a href="{% provider_login_url 'vk' method='oauth2' %}"><i class="fa fa-vk"></i></a></li>
		          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		        </ul>
		    </div>
		  {% csrf_token %}
		  {{ form|crispy }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign Up" %}</button>
		  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
		</form>
	</body>
</html>
