{% extends 'base.html' %}

{% block header %}
{% include "headercontact.html" %}
{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-contact jumbotron-fluid bg-dark"> 
  <div class="container text-white">
    <div class="row">
      <div class="col-md-6">
        <div class="section-row">
          <h3>Contact Information</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <ul class="list-style">
          <li><p><strong>Email:</strong> email@email.com</p></li>
          <li><p><strong>Phone:</strong> 8-800-555-35-35</p></li>
          <li><p><strong>Address:</strong> 3770 Moscow </p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}